/*
Base Styles & Universal Elements
*/
:root {
    --base-orange: #EA9010;
    --base-red: #96031A;
    --base-blue: #235789;
    --base-light-gray: #F5F5F5;
    --base-font: 'Ubuntu', sans-serif;}

html,
body,
html *,
body *{
    box-sizing: border-box;}

body{
    background-color: var(--base-blue);
    color: #000;
    font-family: var(--base-font);
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 0px;}

.wrap{
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;}

#calculator-content{
    padding: 5rem 0;}